<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Stanislavz_CurrentCategory::config" title="Recent Categories Quantity" sortOrder="50" />
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Customer::customer">
                    <resource id="Stanislavz_CurrentCategory::current_category" title="Visited Categories" translate="title" sortOrder="100">
                        <resource id="Stanislavz_CurrentCategory::current_category_delete" title="Delete Visited Category" translate="title" sortOrder="20" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>