<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Stanislavz\CurrentCategory\Model\ResourceModel\Category\Collection">
        <arguments>
            <argument name="fetchStrategy" xsi:type="object">Magento\Framework\Data\Collection\Db\FetchStrategy\Query</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="visited_categories_listing_data_source" xsi:type="string">Stanislavz\CurrentCategory\Model\ResourceModel\VisitedCategories\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Url\SecurityInfo">
        <arguments>
            <argument name="secureUrlList" xsi:type="array">
                <item name="visited_categories" xsi:type="string">/visited_categories/</item>
            </argument>
        </arguments>
    </type>
</config>